# Dataset Overview

This dataset represents boston marathon results from 2014. Contains approximately 32000 observations across 21 columns.

In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
from sklearn.cluster import KMeans
from sklearn.cluster import MeanShift, estimate_bandwidth
from sklearn.cluster import SpectralClustering
from sklearn.cluster import AffinityPropagation
from sklearn import metrics
from itertools import cycle
from sklearn.decomposition import PCA
from sklearn import metrics

%matplotlib inline

# Read Data In

In [2]:
boston = pd.read_csv('https://raw.githubusercontent.com/llimllib/bostonmarathon/master/results/2014/results.csv')

In [4]:
boston.shape

(31984, 21)

In [23]:
boston.head(25)

,10k,name,division,25k,gender,age,official,bib,genderdiv,ctz,...,overall,pace,state,30k,5k,half,20k,country,city,40k
0,17.37,"Yamamoto, Hiroyuki",8,47.67,M,47,85.25,W1,8,NaN,...,8,3.27,NaN,59.18,8.02,39.72,37.65,JPN,Fukuoka,80.43
1,32.58,"Jeptoo, Rita",1,82.43,F,33,138.95,F1,1,NaN,...,21,5.30,NaN,99.33,16.22,69.47,65.83,KEN,Eldoret,132.10
2,16.62,"Van Dyk, Ernst F.",1,45.80,M,41,80.60,W2,1,NaN,...,1,3.08,NaN,56.45,7.75,38.03,36.10,RSA,Paarl,76.10
3,32.57,"Dibaba, Mare",3,82.43,F,24,140.58,F2,3,NaN,...,27,5.37,NaN,99.33,16.20,69.47,65.83,ETH,Shoa,132.95
4,17.12,"Hokinoue, Kota",2,46.37,M,40,81.23,W3,2,NaN,...,2,3.10,NaN,57.03,8.02,38.60,36.58,JPN,Nogata Fukuoka,76.72
5,32.58,"Sumgong, Jemima Jelagat",4,82.45,F,29,140.68,F3,4,NaN,...,28,5.37,NaN,99.33,16.22,69.47,65.83,KEN,Nandi,132.95
6,17.65,"Hug, Marcel E.",4,47.67,M,28,84.65,W4,4,NaN,...,4,3.23,NaN,58.60,8.38,39.72,37.65,SUI,Neuenkirch,79.83
7,30.48,"Geneti, Markos",5,76.95,M,29,129.83,5,5,NaN,...,5,4.97,NaN,92.52,15.17,64.85,61.62,ETH,Addis Ababa,122.80
8,17.12,"Soejima, Masazumi",3,46.37,M,43,81.23,W6,3,NaN,...,3,3.10,NaN,57.03,8.00,38.60,36.60,JPN,Isahaya,76.70
9,30.48,"Hall, Ryan",20,77.68,M,31,137.83,6,20,NaN,...,20,5.27,CA,94.78,15.15,65.23,61.78,USA,Redding,129.83
10,32.58,"Cherop, Sharon",8,82.45,F,30,143.00,F6,8,NaN,...,40,5.47,NaN,99.35,16.22,69.47,65.85,KEN,Marakwet,134.65
11,30.52,"Chebet, Wilson",2,76.97,M,28,128.80,7,2,NaN,...,2,4.92,NaN,92.52,15.18,64.87,61.63,KEN,Marakwet,121.95
12,18.13,"Lemeunier, Denis Sr.",11,49.17,M,49,86.95,W7,11,NaN,...,11,3.32,NaN,60.85,8.40,41.18,39.03,FRA,Taule,82.17
13,32.58,"Kilel, Caroline",17,85.55,F,33,152.07,F7,17,NaN,...,121,5.80,NaN,104.62,16.22,71.10,67.15,KEN,Bomet,143.50
14,17.12,"Cassidy, Josh R.",13,48.88,M,29,87.40,W8,13,NaN,...,13,3.35,ON,60.82,8.02,40.20,38.02,CAN,Port Elgin,82.38
15,33.93,"Linden, Desiree",10,85.03,F,30,143.90,F8,10,NaN,...,46,5.50,MI,102.40,16.92,71.68,67.92,USA,Rochester Hills,136.47
16,17.13,"Madera, Jordi",5,47.45,M,34,84.70,W9,5,NaN,...,5,3.23,NaN,58.73,8.02,39.12,36.98,ESP,Les Franquesas,79.92
17,32.57,"Deba, Buzunesh",2,82.43,F,26,139.98,F10,2,NaN,...,25,5.35,NaN,99.35,16.20,69.47,65.83,ETH,Arsi,132.65
18,18.17,"Hamerlak, Tomasz",7,49.15,M,38,84.88,W10,7,NaN,...,7,3.25,NaN,59.92,8.67,41.20,39.05,POL,Bystra,80.18
19,34.80,"Petrova Arkhipova, Tatiana",13,87.83,F,31,150.48,F11,13,NaN,...,102,5.75,NaN,106.03,17.32,73.95,70.10,RUS,Cheboksary,142.68
20,30.50,"Chepkwony, Frankline",3,76.95,M,29,128.83,11,3,NaN,...,3,4.92,NaN,92.52,15.18,64.90,61.63,KEN,Koibatek,122.22
21,33.23,"Duliba, Aleksandra",6,83.40,F,26,141.48,F12,6,NaN,...,34,5.40,NaN,100.58,16.47,70.25,66.57,BLR,Minsk,134.20
22,30.50,"Kogo, Micah",17,76.97,M,27,137.20,12,17,NaN,...,17,5.23,NaN,92.52,15.17,64.88,61.62,KEN,Eldoret,128.18
23,18.17,"Botello Jimenez, Rafael",12,49.15,M,35,86.95,W12,12,NaN,...,12,3.32,NaN,60.87,8.68,41.20,39.05,ESP,Manlleu,82.17
24,18.30,"Filteau, Michel",14,50.33,M,47,89.40,W13,14,NaN,...,14,3.42,QC,62.33,8.67,41.80,39.63,CAN,St-Jean Baptiste,84.48

In [17]:
list(boston.columns)

['10k',
 'name',
 'division',
 '25k',
 'gender',
 'age',
 'official',
 'bib',
 'genderdiv',
 'ctz',
 '35k',
 'overall',
 'pace',
 'state',
 '30k',
 '5k',
 'half',
 '20k',
 'country',
 'city',
 '40k']

In [21]:
boston.dtypes

10k           object
name          object
division       int64
25k           object
gender        object
age            int64
official     float64
bib           object
genderdiv      int64
ctz           object
35k           object
overall        int64
pace         float64
state         object
30k           object
5k            object
half          object
20k           object
country       object
city          object
40k           object
dtype: object

In [11]:
boston.describe()

,division,age,official,genderdiv,overall,pace
count,31984.000000,31984.000000,31984.000000,31984.000000,31984.000000,31984.000000
mean,1932.563032,42.407079,242.997314,8051.044741,15939.587825,9.275658
std,1715.228694,11.316496,52.300431,4754.005626,9232.978224,1.992486
min,1.000000,18.000000,80.600000,1.000000,1.000000,3.080000
25%,610.000000,33.000000,205.527500,3972.000000,7943.750000,7.850000
50%,1425.000000,42.000000,232.370000,7970.000000,15939.500000,8.870000
75%,2611.000000,50.000000,273.235000,11968.000000,23935.250000,10.430000
max,6979.000000,81.000000,538.880000,17575.000000,31931.000000,20.570000

# Exploratory Analysis (Univariate & Bivariate)

In [ ]:
#Histogram of all continuous

for col in df_feat.dtypes[df_feat.dtypes == 'float64'].index:
    df_feat[col].hist()
    plt.title(col + " Distribution")
    plt.xlabel(col + " Values")
    plt.ylabel("Count")
    plt.savefig(col + "_dist.png")
    plt.show()

In [ ]:
#Count plot of country

In [ ]:
#Count plot of gender

In [ ]:
#Joint plot of age vs. overall

In [ ]:
#Bar plot gender and pace

# Data Cleaning

In [12]:
#Determine missing values across dataframe

missing_values_count = boston.isnull().sum()
print(missing_values_count)

10k              0
name             0
division         0
25k              0
gender           0
age              0
official         0
bib              0
genderdiv        0
ctz          30740
35k              0
overall          0
pace             0
state         2576
30k              0
5k               0
half             0
20k              0
country          0
city             1
40k              0
dtype: int64

In [13]:
categorical = boston.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

10k
2766
name
31915
25k
6570
gender
2
bib
31984
ctz
84
35k
9516
state
68
30k
8090
5k
1491
half
5651
20k
5375
country
78
city
5934
40k
10546