## Overview

Will be using a Naive Bayes Classifier on Yelp review data, in order to determine if feedback was 'positive' or 'negative'. This will require feature engineering in order to produce the most accurate classifier.

In [233]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

## Read Data in Get a Quick Look

In [234]:
#Read text file in and assign own headers

yelp_raw = pd.read_csv('yelp_labelled.txt', delimiter= '\t', header=None)
yelp_raw.columns = ['Review', 'Positive or Negative']

In [235]:
#Take a look at the data

yelp_raw.head(5)

                                              Review  Positive or Negative
0                           Wow... Loved this place.                     1
1                                 Crust is not good.                     0
2          Not tasty and the texture was just nasty.                     0
3  Stopped by during the late May bank holiday of...                     1
4  The selection on the menu was great and so wer...                     1

In [236]:
yelp_raw['Review'].astype(str)

0                               Wow... Loved this place.
1                                     Crust is not good.
2              Not tasty and the texture was just nasty.
3      Stopped by during the late May bank holiday of...
4      The selection on the menu was great and so wer...
5         Now I am getting angry and I want my damn pho.
6                  Honeslty it didn't taste THAT fresh.)
7      The potatoes were like rubber and you could te...
8                              The fries were great too.
9                                         A great touch.
10                              Service was very prompt.
11                                    Would not go back.
12     The cashier had no care what so ever on what I...
13     I tried the Cape Cod ravoli, chicken,with cran...
14     I was disgusted because I was pretty sure that...
15     I was shocked because no signs indicate cash o...
16                                   Highly recommended.
17                Waitress was a little slow in service.
18     This place is not worth your time, let alone V...
19                                  did not like at all.
20                                   The Burrittos Blah!
21                                    The food, amazing.
22                                 Service is also cute.
23     I could care less... The interior is just beau...
24                                    So they performed.
25     That's right....the red velvet cake.....ohhh t...
26            - They never brought a salad we asked for.
27     This hole in the wall has great Mexican street...
28     Took an hour to get our food only 4 tables in ...
29                     The worst was the salmon sashimi.
                             ...
970    I immediately said I wanted to talk to the man...
971                      The ambiance isn't much better.
972    Unfortunately, it only set us up for disapppoi...
973                                The food wasn't good.
974    Your servers suck, wait, correction, our serve...
975        What happened next was pretty....off putting.
976    too bad cause I know it's family owned, I real...
977                 Overpriced for what you are getting.
978                 I vomited in the bathroom mid lunch.
979    I kept looking at the time and it had soon bec...
980    I have been to very few places to eat that und...
981    We started with the tuna sashimi which was bro...
982                              Food was below average.
983    It sure does beat the nachos at the movies but...
984         All in all, Ha Long Bay was a bit of a flop.
985    The problem I have is that they charge $11.99 ...
986    Shrimp- When I unwrapped it (I live only 1/2 a...
987       It lacked flavor, seemed undercooked, and dry.
988    It really is impressive that the place hasn't ...
989    I would avoid this place if you are staying in...
990    The refried beans that came with my meal were ...
991           Spend your money and time some place else.
992    A lady at the table next to us found a live gr...
993              the presentation of the food was awful.
994             I can't tell you how disappointed I was.
995    I think food should have flavor and texture an...
996                             Appetite instantly gone.
997    Overall I was not impressed and would not go b...
998    The whole experience was underwhelming, and I ...
999    Then, as if I hadn't wasted enough of my life ...
Name: Review, Length: 1000, dtype: object

## Data Cleaning

In [237]:
#First, make everything lower case

yelp_raw['Review'] = yelp_raw['Review'].apply(lambda x: str(x).lower())

In [238]:
#Extract all special characters

def GetSpecialChar(x):
    special_characters = []
    for char in x:
        if char.isalpha() == False:
            special_characters.append(char)
    return special_characters

In [239]:
#Create a column in the dataframe with the special characters from each row

yelp_raw['SpecialCharacters'] = yelp_raw['Review'].apply(lambda x : GetSpecialChar(x))

In [240]:
#Now work to get unique list

special_characters = []
for row in yelp_raw['SpecialCharacters']:
    for char in row:
        special_characters.append(char)

In [217]:
#Let's see our list

set(special_characters)

{' ',
 '!',
 '"',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 ';',
 '?'}

In [244]:
#Remove special characters from Review column

special_characters_list = [',', '\'', '.', '/', '"', '\'', '*', '-', '&', '%', '$', '(', ')', ':', ';', '?', '!', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']


for char in special_characters_list:
        yelp_raw['Review'] = yelp_raw['Review'].str.replace(char, ' ')

In [245]:
#Confirm it worked
yelp_raw['Review']

0                               wow    loved this place
1                                     crust is not good
2              not tasty and the texture was just nasty
3      stopped by during the late may bank holiday of...
4      the selection on the menu was great and so wer...
5         now i am getting angry and i want my damn pho
6                  honeslty it didn t taste that fresh
7      the potatoes were like rubber and you could te...
8                              the fries were great too
9                                         a great touch
10                              service was very prompt
11                                    would not go back
12     the cashier had no care what so ever on what i...
13     i tried the cape cod ravoli  chicken with cran...
14     i was disgusted because i was pretty sure that...
15     i was shocked because no signs indicate cash o...
16                                   highly recommended
17                waitress was a little slow in service
18     this place is not worth your time  let alone v...
19                                  did not like at all
20                                   the burrittos blah
21                                    the food  amazing
22                                 service is also cute
23     i could care less    the interior is just beau...
24                                    so they performed
25     that s right    the red velvet cake     ohhh t...
26              they never brought a salad we asked for
27     this hole in the wall has great mexican street...
28     took an hour to get our food only   tables in ...
29                     the worst was the salmon sashimi
                             ...
970    i immediately said i wanted to talk to the man...
971                      the ambiance isn t much better
972    unfortunately  it only set us up for disapppoi...
973                                the food wasn t good
974    your servers suck  wait  correction  our serve...
975        what happened next was pretty    off putting
976    too bad cause i know it s family owned  i real...
977                 overpriced for what you are getting
978                 i vomited in the bathroom mid lunch
979    i kept looking at the time and it had soon bec...
980    i have been to very few places to eat that und...
981    we started with the tuna sashimi which was bro...
982                              food was below average
983    it sure does beat the nachos at the movies but...
984         all in all  ha long bay was a bit of a flop
985    the problem i have is that they charge        ...
986    shrimp  when i unwrapped it  i live only     a...
987       it lacked flavor  seemed undercooked  and dry
988    it really is impressive that the place hasn t ...
989    i would avoid this place if you are staying in...
990    the refried beans that came with my meal were ...
991           spend your money and time some place else
992    a lady at the table next to us found a live gr...
993              the presentation of the food was awful
994             i can t tell you how disappointed i was
995    i think food should have flavor and texture an...
996                             appetite instantly gone
997    overall i was not impressed and would not go b...
998    the whole experience was underwhelming  and i ...
999    then  as if i hadn t wasted enough of my life ...
Name: Review, Length: 1000, dtype: object

In [246]:
#New column that splits reviews
yelp_raw['ReviewSplit'] = yelp_raw['Review'].apply(lambda x: str(x).split())

In [247]:
#Now get a unique count of each word in all reviews. First create 'counts' variable.

from collections import Counter
counts = yelp_raw.ReviewSplit.map(Counter).sum()

In [248]:
counts.most_common(100)

[('the', 585),
 ('and', 393),
 ('i', 357),
 ('was', 295),
 ('a', 237),
 ('to', 220),
 ('is', 171),
 ('it', 153),
 ('this', 143),
 ('of', 127),
 ('food', 126),
 ('not', 116),
 ('for', 110),
 ('in', 109),
 ('place', 106),
 ('t', 97),
 ('good', 95),
 ('we', 88),
 ('service', 85),
 ('very', 76),
 ('my', 73),
 ('with', 72),
 ('great', 70),
 ('had', 70),
 ('that', 69),
 ('be', 67),
 ('so', 66),
 ('you', 66),
 ('were', 63),
 ('are', 63),
 ('but', 62),
 ('have', 62),
 ('back', 61),
 ('they', 58),
 ('here', 57),
 ('on', 55),
 ('at', 55),
 ('like', 46),
 ('go', 44),
 ('all', 44),
 ('time', 42),
 ('s', 42),
 ('our', 41),
 ('will', 37),
 ('there', 36),
 ('as', 36),
 ('really', 36),
 ('just', 35),
 ('an', 32),
 ('their', 31),
 ('if', 30),
 ('best', 30),
 ('would', 29),
 ('ever', 28),
 ('also', 27),
 ('friendly', 27),
 ('up', 26),
 ('only', 26),
 ('never', 26),
 ('one', 26),
 ('don', 26),
 ('no', 25),
 ('your', 25),
 ('restaurant', 25),
 ('out', 25),
 ('nice', 25),
 ('been', 24),
 ('what', 24),
 ('amazing', 24),
 ('again', 24),
 ('can', 24),
 ('from', 24),
 ('delicious', 23),
 ('ve', 23),
 ('vegas', 22),
 ('did', 22),
 ('by', 21),
 ('which', 21),
 ('m', 21),
 ('pretty', 20),
 ('some', 20),
 ('me', 20),
 ('came', 20),
 ('when', 20),
 ('experience', 20),
 ('staff', 19),
 ('get', 19),
 ('he', 19),
 ('eat', 19),
 ('us', 19),
 ('minutes', 19),
 ('definitely', 19),
 ('love', 19),
 ('even', 19),
 ('or', 19),
 ('disappointed', 19),
 ('won', 19),
 ('bad', 18),
 ('much', 18),
 ('got', 18)]

In [249]:
for count in counts:
    yelp_raw[str(count)] = yelp_raw.Review.str.contains(
        ' ' + str(count) + ' ',
        case=False)

## Build Naive Bayes Model

In [261]:
#Before we actually run the model we have to build out our training data. Specify an outcome (y or dependent variable) and 
#the inputs (x or independent variables). We'll do that below under the variables data and target

data = yelp_raw.iloc[:, 4:len(yelp_raw)]
target = yelp_raw['Positive or Negative']

In [271]:
#Since data is binary / boolean, need to import the Bernoulli classifier.
from sklearn.naive_bayes import BernoulliNB
from sklearn.feature_selection import RFE

# Instantiate our model and store it in a new variable.
NB_Model = BernoulliNB()

# Fit our model to the data.
NB_Model.fit(data, target)

# Classify, storing the result in a new variable.
positive_predictor = NB_Model.predict(data)

# Display our results.
print("Number of mislabeled points out of a total {} points : {}".format(
    data.shape[0],
    (target != positive_predictor).sum()))

Number of mislabeled points out of a total 1000 points : 151

In [272]:
#Confusion matrix to better understand results

from sklearn.metrics import confusion_matrix
confusion_matrix(target, positive_predictor)

array([[409,  91],
       [ 60, 440]])

## Analysis

Overall, model was able to correctly predict spam approximately 85% of the time.

### Using Recursive Feature Selection to Rank Features

In [266]:
# Pass any estimator to the RFE constructor
selector = RFE(NB_Model)
selector = selector.fit(data, target)

In [267]:
print(selector.ranking_)

[107 425 485 491   1 495 455 493 407 499 498   1 497 453   1   1 429 224
   1 223   1   1 118   1   1 234 486 386 473 440 487 476 478 408 307 492
 108   1   1 397 471   1 230   1 324 460 366 466 431 120 449   1 474 418
 227 457 479 414 438 415   1 488 464   1   1   1 496   1 319 322 111 481
 484   1 369 456 469   1   1 153 411 426 494 403 361   1   1   1 349   1
   1   1 401 482   1 172   1 294 412 142   1   1   1   1   1   1 423 165
 167 245 357   1 490 341 420   1   1 451 395 446 461   1   1 489 468 454
   1   1   1 276   1 467 372   1   1   1   1 211 285   1 382 459   1 483
   1 130 421 133   1 239 472 444   1 445   1 417 452   1 448   1 231   1
   1 202 371   1   1   1 272   1 399 480   1 331 398 424   1 301   1   1
 225   1 470   1   1 302   1   1 402   1   1 462 112   1   1   1   1   1
 277   1 373 173   1 289   1 178 394 327   1 389 405 308 443 306   1 183
   1 182 377 261 345   1   1   1 406   1   1   1   1 141   1 430   1   1
 387   1   1   1   1 416 374   1   1   1   1 207   1   1 348  24  26 248
  27   1   1 255 334 299 336 337  35 338 199 174 266 269  37 352 278 209
  39 380 458  40 186  42 390 393  45  47 270 297  44 435  51  52 477   1
   1   1   1   1 313 274 409 282 159 160 315   9 367  12  15   1   1  55
 353   1   1   1 214 246   1 187   1 190 368 259  88  90 279   1   1   1
   1   1 240   1   1  89   1   1   1   1 392 180   1   1 463 362 419 475
 189   1   1   1 433   1   1   1 378 237 441 265   1   1   1   1 147   1
 335   1   1   1 161   1   1   1   1 465   1   1   1   1   6 358 355   1
   1   1   1   1   1   1   1   1   1 354 379   1  69 388 296 195 305 328
 196  71 384 325 385   1   1  78  80 344  82 137   1   1   1 252 148   1
 437 244 304 103 152   1   1   1   1   1   1   1   1   1   1   1   1   1
   1 383   1   1   1   1   1   1 447   1 145   1 288 291 149   1   1   1
   1 156 320   1   1   1 311 439   1 168 281 303   1   1   1   1   1 442
   1   1 450 413   1   1   1 347   1 197 198   1 432   1   1   1   1   1
   1 219 217 359  21 210  23  25 381 298  20 129  29 166  30 293 340  32
  34  31 200   1 216 215 205 346 155   1 162 360   4   7   1   1   1   1
   1   1   1 286 370 316   1 436 132   1 400   1 176   1   1  54 232 323
   1 185   1 243   1   1   1   1   1 263   1 330   1   1 287 233 117 222
   1   1 250 332 410 375   1   1   1   1   1   1   1   1   1  83   1 351
   1  95  97 221 253 220 422   1   1 105 434 106 104 102 169   1 264   1
 229 177   1   1   1   1 188 283 191   1   8 428  10 228 391  11  13 139
  14  16   1 241   1  38   1 226  41  43 404   1  46  48 350  49   1   1
  56  57 127  58  59  61  53 396 126 125   1 110  50 254   1  22   1   1
   1  72 339 146 260   1 157   1   1   1   1   1   1   1   1 193 184   1
   1   1   1 343   1   1 134 136 135   1 310   1   1   1   1   1   1   1
 208   1   1 273   1 258   1 300   1   1 292   1   2   1   1   1   1   1
   1 158  65  66 151  67  68   1  74  75  76  77  79  81 171  84   1   1
 342   1  93   1   1   1   1   1 365   1   1   1   1 275 247   1 164 376
 238   1   1  33   1  36 124   1   1   1   1   1   1   1 218 235   1   1
   1   1 321   1 290   1   1 143 280   1   1 312 356 262 123 256   1   1
 140 206   1   1 204 144  85   1   1  91   1   1   1 192   1   1   1   1
 179   1 131 203   1 170   3   1   1 212   1   1 175   1   1   1   1   1
   1 163 271   1   1   1   1   1   1   1   1   1 128 154   1 329 257   1
   1   1 242   1   1   1   1   1   1   1 194   1   1   1   1   1   1   1
   1   1   1   1   1   1  86   1   1  96  99 100 101  98 267  94 309  92
 284   1   1 236  28  19   1   1 116   1   1 317 295   1   1   1   1   1
   1   1   1   1 213   1   1   1   1   1  87   1   1   1  73  70   1  63
  64  62  60   1   1  18   5   1   1   1   1   1   1   1 201   1 268  17
   1   1 181   1   1   1   1   1   1   1   1   1 122   1   1 121   1   1
   1   1   1 427   1 318   1   1   1 150 109   1   1   1   1 138   1   1
   1 314   1 333   1   1   1   1   1   1   1 326   1   1   1 119 363   1
   1 113   1   1 251 249   1   1   1   1   1   1 364 114   1   1   1   1
   1   1   1 115   1   1]

In [269]:
#Now turn into a dataframe so you can sort by rank
rankings = pd.DataFrame({'Features': data.columns, 'Ranking' : selector.ranking_})
rankings.sort_values('Ranking').head(50)

          Features  Ranking
995            why        1
378           milk        1
377      chocolate        1
727            hip        1
729    maintaining        1
373      milkshake        1
372            min        1
371            meh        1
370           rice        1
730       coziness        1
368       expected        1
367         beyond        1
366          above        1
365           jeff        1
379          guess        1
731         weekly        1
362       included        1
361         finish        1
732          haunt        1
359          chewy        1
735         asking        1
357         batter        1
356           salt        1
355          heard        1
354     apparently        1
739     overcooked        1
740       charcoal        1
742           send        1
349         update        1
363       tastings        1
380         should        1
381          known        1
382           suck        1
428          bland        1
427          roast        1
426         turkey        1
425         others        1
424           trap        1
423         grease        1
422            old        1
421        smelled        1
420         walked        1
419          break        1
709          lordy        1
413        parties        1
410   relationship        1
409  underwhelming        1
408   experiencing        1
402        wasting        1
401        cheated        1