In [309]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import datetime as dt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR, LinearSVR
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import r2_score
from sklearn import neighbors
%matplotlib inline

## Scrape Data, Conduct General Cleaning

In [310]:
#Create list of teams

teams = ['ANA', 'ARI', 'ATL', 'BAL', 'BOS', 'CAL', 'CHC', 'CHW', 'CIN',
       'CLE', 'COL', 'DET', 'FLA', 'HOU', 'KCR', 'LAA', 'LAD', 'MIA',
       'MIL', 'MIN', 'MON', 'NYM', 'NYY', 'OAK', 'PHI', 'PIT', 'SDP',
       'SEA', 'SFG', 'STL', 'TBD', 'TBR', 'TEX', 'TOR', 'WSN']

In [311]:
#Create empty dataframe to append onto after each run
team_df = pd.DataFrame()

#Set our list of columns to be added at the end
columns_list = ['day', 'date', 'box_score', 'team', 'home_away', 'opponent', 'WL', 'runs', 'runs_against',
            'innings', 'record', 'division_rank', 'GB', 'winning_pitcher', 'losing_pitcher',
            'save_pitcher', 'time', 'day_night', 'attendance_1', 'attendance_2', 'streak', 'original', 'year_num']
    
#Make a pass for each team, for each year
for team in teams:
    for year in range(2016, 2018):
        try:
            html = requests.get('http://www.baseball-reference.com/teams/' + team + '/' + str(year) +
                                '-schedule-scores.shtml')
            bs = BeautifulSoup(html.text, 'html.parser')
            trows = bs.find('table', {'class':'stats_table'}).find_all('tr')
            results = []
            for trow in trows:
                cells = trow.find_all('td')
                str_cells = str(cells)
                cleantext = BeautifulSoup(str_cells, 'html.parser').get_text()
                results.append(cleantext + ',' + str(year))
            df = pd.DataFrame(results)
            team_df = team_df.append(df, ignore_index=True)

        except:
            pass
    
#Clean our final dataframe
team_df = team_df[0].str.split(',', expand=True) #split beautiful soup elements into each cell
team_df[0] = team_df[0].str.strip('[') #remove front bracket
team_df.iloc[:,-2] = team_df.iloc[:,-2].str.strip(']') #remove end backet
team_df.columns = columns_list #set out column names
team_df = team_df.iloc[1:] #remove first blank row
team_df = team_df.drop(['box_score', 'innings', 'original', 'save_pitcher'], 1) #drop unnecessary columns
team_df['attendance'] = team_df['attendance_1'].astype(str) + team_df['attendance_2'].astype(str) #concatenating attendance columns that were separated
team_df['attendance'] = pd.to_numeric(team_df['attendance'], errors='coerce') #convert new attendance column to int
team_df = team_df.drop(['attendance_1', 'attendance_2'], 1) #now drop unnecessary attendance columns after conversion
team_df['win'], team_df['loss'] = team_df['record'].str.split('-', 1).str #split record into win/loss (temporary)
team_df['win'] = pd.to_numeric(team_df['win'], errors='coerce') #convert win to int
team_df['loss'] = pd.to_numeric(team_df['loss'], errors='coerce') #convert loss to int
team_df['win_percentage'] = round(team_df['win']/(team_df['win'] + team_df['loss']), 2) #create win percentage column
team_df = team_df.drop(['win', 'loss', 'record'], 1) #now drop unnecessary win/loss/record after creating win percentage

#Get a feel for our dataframe
pd.options.display.max_columns = 30
print("Shape of Dataframe is {}".format(team_df.shape))
display(team_df.head(50))
print(team_df.dtypes)

Shape of Dataframe is (10535, 18)

,day,date,team,home_away,opponent,WL,runs,runs_against,division_rank,GB,winning_pitcher,losing_pitcher,time,day_night,streak,year_num,attendance,win_percentage
1,Monday,Apr 4,ARI,,COL,L,5,10,4,1.0,Miller,Greinke,4:11,N,-,2016,48165.0,0.00
2,Tuesday,Apr 5,ARI,,COL,W,11,6,3,1.0,Clippard,Bergman,3:14,N,+,2016,21830.0,0.50
3,Wednesday,Apr 6,ARI,,COL,L,3,4,4,2.0,Chatwood,Corbin,2:39,D,-,2016,18572.0,0.33
4,Thursday,Apr 7,ARI,,CHC,L,6,14,4,2.0,Lackey,De La Rosa,3:29,N,--,2016,24656.0,0.25
5,Friday,Apr 8,ARI,,CHC,W-wo,3,2,4,2.0,Ziegler,Cahill,2:48,N,+,2016,27539.0,0.40
6,Saturday,Apr 9,ARI,,CHC,L,2,4,5,2.0,Hendricks,Greinke,2:46,N,-,2016,32185.0,0.33
7,Sunday,Apr 10,ARI,,CHC,L,3,7,5,3.0,Arrieta,Miller,3:21,D,--,2016,33258.0,0.29
8,Tuesday,Apr 12,ARI,@,LAD,W,4,2,4,3.0,Clippard,Hatcher,3:00,D,+,2016,53279.0,0.38
9,Wednesday,Apr 13,ARI,@,LAD,L,1,3,4,3.0,Wood,De La Rosa,3:12,N,-,2016,44244.0,0.33
10,Thursday,Apr 14,ARI,@,LAD,L,2,5,4,3.0,Howell,Delgado,2:36,N,--,2016,40879.0,0.30
11,Friday,Apr 15,ARI,@,SDP,W,3,2,4,3.0,Hudson,Rodney,3:08,N,+,2016,28955.0,0.36
12,Saturday,Apr 16,ARI,@,SDP,L-wo,3,5,4,3.0,Perdomo,De La Rosa,5:25,N,-,2016,34051.0,0.33
13,Sunday,Apr 17,ARI,@,SDP,W,7,3,4,3.0,Corbin,Erlin,2:37,D,+,2016,30520.0,0.38
14,Monday,Apr 18,ARI,@,SFG,W,9,7,4,2.5,De La Rosa,Heston,4:35,N,++,2016,41432.0,0.43
15,Tuesday,Apr 19,ARI,@,SFG,W,3,0,3,1.5,Ray,Cain,3:08,N,+++,2016,41218.0,0.47
16,Wednesday,Apr 20,ARI,@,SFG,W,2,1,3,1.5,Greinke,Bumgarner,2:54,N,++++,2016,41497.0,0.50
17,Thursday,Apr 21,ARI,@,SFG,W,6,2,2,1.5,Wagner,Cueto,3:10,D,+++++,2016,41052.0,0.53
18,Friday,Apr 22,ARI,,PIT,L,7,8,3,1.5,Niese,Corbin,3:12,N,-,2016,27829.0,0.50
19,Saturday,Apr 23,ARI,,PIT,W,7,1,2,1.5,De La Rosa,Nicasio,2:58,N,+,2016,32935.0,0.53
20,Sunday,Apr 24,ARI,,PIT,L,10,12,2,2.5,Feliz,Marshall,5:25,D,-,2016,27573.0,0.50
21,Monday,Apr 25,ARI,,STL,W,12,7,2,1.5,Greinke,Bowman,3:26,N,+,2016,18208.0,0.52
22,Tuesday,Apr 26,ARI,,STL,L,2,8,2,1.5,Martinez,Miller,2:47,N,-,2016,19074.0,0.50
23,Wednesday,Apr 27,ARI,,STL,L,4,11,3,1.5,Wainwright,Corbin,3:32,N,--,2016,18339.0,0.48
24,Thursday,Apr 28,ARI,,STL,W,3,0,3,0.5,De La Rosa,Wacha,2:25,N,+,2016,18933.0,0.50
25,Friday,Apr 29,ARI,,COL,L,0,9,3,0.5,Chatwood,Ray,3:21,N,-,2016,23004.0,0.48
26,Saturday,Apr 30,ARI,,COL,L,2,5,4,0.5,Qualls,Ziegler,3:16,N,--,2016,32987.0,0.46
27,],2016,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN
28,Sunday,May 1,ARI,,COL,L,3,6,4,1.5,Bettis,Miller,3:23,D,---,2016,25458.0,0.44
29,Tuesday,May 3,ARI,@,MIA,L,4,7,4,3.0,Nicolino,Chafin,3:11,N,----,2016,16323.0,0.43
30,Wednesday,May 4,ARI,@,MIA,L,3,4,4,3.0,Fernandez,De La Rosa,2:48,N,-----,2016,17043.0,0.41
31,Thursday,May 5,ARI,@,MIA,L,0,4,5,3.0,Conley,Ray,2:47,N,------,2016,16704.0,0.40
32,Friday,May 6,ARI,@,ATL,W,7,2,5,3.0,Greinke,Blair,3:18,N,+,2016,23514.0,0.42
33,Saturday,May 7,ARI,@,ATL,W,4,2,4,3.0,Miller,Norris,3:17,N,++,2016,22178.0,0.44
34,Sunday,May 8,ARI,@,ATL,W,5,3,4,2.0,Delgado,Johnson,3:48,D,+++,2016,17106.0,0.45
35,Monday,May 9,ARI,@,COL,W,10,5,3,1.0,Bradley,Chatwood,3:23,N,++++,2016,22053.0,0.47
36,Tuesday,May 10,ARI,@,COL,W,5,1,2,1.0,De La Rosa,Rusin,3:08,N,+++++,2016,23363.0,0.49
37,Wednesday,May 11,ARI,@,COL,L,7,8,3,1.0,Germen,Clippard,3:19,D,-,2016,34890.0,0.47
38,Thursday,May 12,ARI,,SFG,L,2,4,4,2.0,Cueto,Greinke,3:13,N,--,2016,19461.0,0.46
39,Friday,May 13,ARI,,SFG,L,1,3,4,3.0,Samardzija,Miller,3:00,N,---,2016,21753.0,0.45
40,Saturday,May 14,ARI,,SFG,L,3,5,5,4.0,Strickland,Hudson,3:05,N,----,2016,32448.0,0.44
41,Sunday,May 15,ARI,,SFG,L,1,2,5,5.0,Strickland,Ziegler,3:00,D,-----,2016,25007.0,0.42
42,Monday,May 16,ARI,,NYY,W,12,2,4,4.5,Ray,Green,3:00,N,+,2016,32718.0,0.44
43,Tuesday,May 17,ARI,,NYY,W,5,3,4,4.5,Greinke,Pineda,2:47,N,++,2016,30913.0,0.45
44,Wednesday,May 18,ARI,,NYY,L,2,4,4,5.5,Eovaldi,Miller,3:12,N,-,2016,32191.0,0.44
45,Friday,May 20,ARI,@,STL,W,11,7,4,5.0,Corbin,Martinez,3:46,N,+,2016,43301.0,0.45
46,Saturday,May 21,ARI,@,STL,L,2,6,4,6.0,Leake,Ray,2:53,D,-,2016,45117.0,0.44
47,Sunday,May 22,ARI,@,STL,W,7,2,4,6.0,Greinke,Garcia,2:44,D,+,2016,43829.0,0.46
48,Tuesday,May 24,ARI,@,PIT,L,1,12,4,7.5,Liriano,Miller,3:23,N,-,2016,18415.0,0.45
49,Wednesday,May 25,ARI,@,PIT,L,4,5,4,8.5,Locke,De La Rosa,3:05,N,--,2016,20696.0,0.44
50,Thursday,May 26,ARI,@,PIT,L,3,8,4,9.0,Schugel,Corbin,3:40,D,---,2016,30861.0,0.43

day                 object
date                object
team                object
home_away           object
opponent            object
WL                  object
runs                object
runs_against        object
division_rank       object
GB                  object
winning_pitcher     object
losing_pitcher      object
time                object
day_night           object
streak              object
year_num            object
attendance         float64
win_percentage     float64
dtype: object

## Further Data Cleaning, Preliminary Feature Engineering

In [312]:
#Remove white space
for col in team_df.columns:
    team_df[col] = team_df[col].astype(str)
    team_df[col] = team_df[col].str.strip()

In [313]:
#Filter out away games
team_df = team_df.loc[team_df['home_away'] == '']

In [314]:
#Recreate WL groupings
team_df['WL'].replace(['L', 'W', 'W-wo', 'L-wo', 'None', 'T', 'W &H;', 'W &V;', 'L &V;', 'L &H;'],
                      ['L', 'W', 'W', 'L', 'None', 'T', 'W', 'W', 'L', 'L'], inplace=True)

In [315]:
#Remove None from WL
team_df = team_df.loc[team_df['WL'] != 'None']

In [316]:
#Turn day_night into indicator (day = 1, night = 0)
team_df['day_night'] = np.where((team_df['day_night'] == 'D'), 1, 0)

In [317]:
#Understand unique streak values
team_df.streak.unique()

array(['-', '+', '--', '---', '----', '-----', '++', '+++', '------',
       '++++', '+++++', '++++++', '+++++++', '-------', '++++++++',
       '+++++++++', '++++++++++', '+++++++++++', ']', '--------',
       '---------', '++++++++++++++++', '+++++++++++++++++',
       '++++++++++++++++++', '+++++++++++++++++++',
       '++++++++++++++++++++', '+++++++++++++++++++++',
       '++++++++++++++++++++++', '-----------', '----------'],
      dtype=object)

In [318]:
#Streak function

def streak(x):
    x_streak = str(x)
    x_streak = list(x_streak)
    counter = 0
    if x_streak[0] == '-':
        for i in x_streak:
            counter += 1
            final = '-' + str(counter)
            final = int(final)
    else:
        for i in x_streak:
            counter += 1
            final = '+' + str(counter)
            final = int(final)
    return final

In [319]:
#Apply streak function to streak column
team_df['streak'] = team_df['streak'].apply(streak)

In [320]:
#Confirm this worked
team_df['streak'].head(5)

1   -1
2    1
3   -1
4   -2
5    1
Name: streak, dtype: int64

In [321]:
#Deal with GB column
team_df['GB'].unique()

array(['1.0', '2.0', '3.0', '1.5', '2.5', '0.5', '4.0', '5.0', '4.5',
       '5.5', '9.0', '10.0', '10.5', '9.5', '11.5', '12.5', '13.5',
       '15.0', '14.0', '16.0', '19.0', '18.0', '17.0', '18.5', '17.5',
       '21.0', '22.0', '20.0', '24.0', '23.0', 'up 0.5', 'Tied', 'up 1.0',
       '3.5', '6.5', '7.5', '6.0', '7.0', '8.0', '12.0', '16.5', '19.5',
       '20.5', '21.5', '23.5', '24.5', '25.0', '25.5', '26.5', '27.5',
       '28.5', '29.5', '28.0', '29.0', '30.0', '31.0', '32.0', '11.0',
       '14.5', '22.5', 'up 1.5', 'up 2.0', 'up 2.5', 'up 3.5', 'up 3.0',
       'up 4.0', '8.5', '15.5', 'up 5.0', 'up 4.5', 'up 6.5', 'up 7.5',
       'up 8.5', 'up 7.0', 'up 8.0', 'up 9.0', 'up 5.5', 'up 9.5',
       'up10.5', 'up11.5', 'up12.5', 'up12.0', 'up13.0', 'up14.0',
       'up15.0', 'up15.5', 'up16.5', 'up17.0', 'up18.0', 'up16.0', '13.0',
       '30.5', '33.5', '34.5', '34.0', '26.0', '27.0', '31.5', '35.5',
       'up 6.0', 'up11.0', 'up13.5', 'up14.5', '33.0', '35.0', '36.0',
       'up10.0', 'up19.0', 'up18.5', 'up21.0', 'up20.0', '32.5', 'up21.5',
       'up20.5', '36.5', '38.0', '39.0', '40.0', '41.0', '39.5', '37.0',
       '37.5'], dtype=object)

In [322]:
#Create function to convert GB

def gb(x):
    x = x.replace(" ", "")
    if x[0] == 'u':
        x = x[2:]
        x = float(x)

    elif x[0].isdigit() == True:
        x = '-' + x
        x = float(x)
    
    else:
        x = 0
        
    return x

In [323]:
#Apply function to GB column
team_df['GB'] = team_df['GB'].apply(gb)

In [324]:
#Clean date column, first create function
import re
def remove_parentheses(i):
    i = str(i)
    i = re.sub(r'\([^)]*\)', '', i)
    return i

In [325]:
#Apply it to date column
team_df['date'] = team_df['date'].apply(remove_parentheses)

In [326]:
#Strip whitespace again after removing parentheses data
team_df['date'] = team_df['date'].str.strip()

In [327]:
#Convert date into month and day
team_df['month_num'], team_df['day_num'] = team_df['date'].str.split(' ', 1).str

In [328]:
#Recreate month_num groupings
team_df['month_num'].replace(['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
                      [4, 5, 6, 7, 8, 9, 10], inplace=True)

In [329]:
#Deal with null values
missing_values_count = team_df.isnull().sum()
print(missing_values_count)

day                0
date               0
team               0
home_away          0
opponent           0
WL                 0
runs               0
runs_against       0
division_rank      0
GB                 0
winning_pitcher    0
losing_pitcher     0
time               0
day_night          0
streak             0
year_num           0
attendance         0
win_percentage     0
month_num          0
day_num            0
dtype: int64

In [330]:
#Do pd.datetime on all date related columns
team_df = team_df.loc[team_df['year_num'] != 'None']

team_df['month_num'] = team_df['month_num'].astype(int)
team_df['day_num'] = team_df['day_num'].astype(int)
team_df['year_num'] = team_df['year_num'].astype(int)

In [331]:
#Create standardized date column
team_df['actual_date'] = pd.to_datetime(team_df.year_num*10000+team_df.month_num*100+team_df.day_num,format='%Y%m%d')

In [332]:
#Final removal of columns - date, home_away
team_df = team_df.drop(['date', 'home_away'], 1)

In [333]:
#Convert time of game column - first create function

def convert_game_time(x):
    x = str(x)
    i, j = x.split(':')
    i, j = int(i), int(j)
    x = (i*60) + (j)
    return x

In [334]:
#Apply function to time column
team_df['time'] = team_df['time'].apply(convert_game_time)

In [335]:
#Convert all data types to appropriate ones - first take a look at our datatypes
team_df.dtypes

day                        object
team                       object
opponent                   object
WL                         object
runs                       object
runs_against               object
division_rank              object
GB                        float64
winning_pitcher            object
losing_pitcher             object
time                        int64
day_night                   int64
streak                      int64
year_num                    int64
attendance                 object
win_percentage             object
month_num                   int64
day_num                     int64
actual_date        datetime64[ns]
dtype: object

In [336]:
#Apply conversions
team_df['win_percentage'] = team_df['win_percentage'].astype(float)
team_df['attendance'] = team_df['attendance'].astype(float)
team_df['division_rank'] = team_df['division_rank'].astype(float)
team_df['GB'] = team_df['GB'].astype(float)
team_df['runs'] = team_df['runs'].astype(int)
team_df['runs_against'] = team_df['runs_against'].astype(int)

#Label encoders for categoricals
encoder = LabelEncoder()
team_df['day_category'] = encoder.fit_transform(team_df['day'])
team_df['team_category'] = encoder.fit_transform(team_df['team'])
team_df['opponent_category'] = encoder.fit_transform(team_df['opponent'])
team_df['WL_category'] = encoder.fit_transform(team_df['WL'])

In [ ]:
#Add ticket price data

## Exploratory Analysis

## Feature Engineering